@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


:root {

    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%)
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Outfit', sans-serif;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    background-color: var(--Light-gray);
}


h1 {
    color: var(--Dark-blue);
    padding: 10px;
    font-size: x-large;
}

p {
    font-size: 15px;
    padding: 10px;
    margin: auto;
    line-height: 1.5;
    color: var(--Grayish-blue);
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

img {
    width: 85%;
    border-radius: 10px;
    margin-top: 20px;
}

.container {
    height: 90vh;
    display: flex;
    margin: auto;
}

.box {
    background-color: var(--White);
    width: 300px;
    border-radius: 10px;
    margin: 20px auto;
    height: fit-content;
}